VITE_FOOTBALL_API_KEY=YOUR_API_FOOTBALL_KEY_HERE
VITE_FOOTBALL_BASE_URL=https://v3.football.api-sports.io

VITE_NEWS_API_KEY=YOUR_NEWS_API_KEY_HERE
VITE_NEWS_BASE_URL=https://newsapi.org/v2

VITE_ANTHROPIC_API_KEY=YOUR_ANTHROPIC_KEY_HERE
